* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

pre {
  background-color: palevioletred;
  color: lightgray;
  font-size: 18px;
  margin-bottom: 1rem;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: rgb(238, 227, 227);
}
.btn {
  border-radius: 0.5rem;
  border-width: 1px;
  background-color: palevioletred;
  color: black;
  padding: 6px 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(216, 112, 147, 0.8);
  transition: all;
  transition-duration: 5ms;
}
h2 {
  font-size: 28px;
  color: palevioletred;
}

main,
.hero {
  padding: 2rem 2rem;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header p {
  font-size: 20px;
}

header p span {
  font-weight: bold;
  color: palevioletred;
}

ul {
  padding: 0 1rem;
}
ul li {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

h1 {
  margin: 0, auto;
  width: 100%;
  background-color: black;
  text-align: center;
  color: palevioletred;
  padding: 20px 0;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btns div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btns span {
  font-size: 18px;
  font-weight: bold;
}
#css,
#js {
  padding: 6px 12px;
  background-color: palevioletred;
  color: black;
  border-radius: 0.5rem;
  cursor: pointer;
  border-width: 1px;
  font-weight: 700;
}

#css:hover,
#js:hover {
  background-color: rgb(216, 112, 147, 0.8);
  transition: all;
  transition-duration: 5ms;
}

#reveal {
  display: none;
}

#what-js-can-do {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#what-js-can-do p {
  font-size: 20px;
  margin-bottom: 1rem;
}
#what-js-can-do h3 {
  font-size: 24px;
  color: palevioletred;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.list div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

#cart {
  font-size: 48px;
}

#change-html {
  background-color: palevioletred;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* cleaner */
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: 1px solid palevioletred;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -23px;
}

#cart-container {
  position: relative;
  margin-top: 1rem;
}

nav {
  background: whitesmoke;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 4;
  justify-content: space-evenly;
  padding: 1rem 0;
  cursor: pointer;
}

#hide-element {
  width: 200px;
  height: 200px;
  background: palevioletred;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 10px whitesmoke;
}

#hide-element-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
#show-element-btn {
  display: none;
}
